<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>AdelaideX Analytics Dashboard</title>
        <script type="text/javascript">
            var APIBASE = 'http://api.edxteststack.services.adelaide.edu.au/api';
            //var APIBASE = 'http://127.0.0.1:8000/api';
            // var ADMIN_USERS = ['timcavanagh', 'uqbjzorni', 'uqbssun', 'uqbakonda', 'uqbamurr3'];
            //var APIBASE = 'http://localhost:8000/api'
            var ADMIN_USERS = ['a1221478','aaron', 'jasmine'];
        </script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <!-- <script>
             google.load("visualization", "1", {packages:["corechart"]});
         </script> -->

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
        <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link rel="stylesheet" href="styles/login.css">
        <link rel="stylesheet" href="styles/status.css">
        <link rel="stylesheet" href="styles/options.css">
    </head>
    <body ng-app="dashboardJsApp">
        <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div ng-controller="AppCtrl" ng-class="{embedded:embed}">
            <header class="row">
                <a ng-href="#" title="Home" rel="home" id="logo">
                    <img src="https://global.adelaide.edu.au/v/redesign1/images/bg-header-logo-ds.png" class="logo media-object pull-left" alt="Home" />
                    <!--        <img src="images/adx_logo.png" class=" media-object pull-left" alt="Home" />-->
                    <p class="media-heading pull-left" id="title">AdelaideX Dashboard</p>
                    

                </a>
                
                <div class="pull-right" ng-switch on="!!currentUser">
                    <div ng-switch-when="true">
                        <p id="user_welcome"><button type="button" class="btn btn-default" ng-click="feedbackModal()">Feedback</button> - Welcome {{currentUser}} (<a href="#" ng-click="userLogout()">Logout</a>)</p>
                    </div>
                    <div ng-switch-default>
                        <p id="user_welcome"><a href="#" ng-click="launchLoginModal()">Login</a></p>
                    </div>
                </div>
            </header>
            <nav id="nav" class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: $state.includes('dashboard')}"><a ui-sref="dashboard" ng-click="mainNavChanged()"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li ng-class="{ active: $state.includes('reports')}"><a ui-sref="reports" ng-click="mainNavChanged()"><i class="fa fa-list-alt"></i> Reports</a></li>
                    <!--<li ui-sref-active="active"><a ui-sref="explorer" ng-click="mainNavChanged()"><i class="fa fa-database"></i> Data Explorer</a></li>-->
                    <li ui-sref-active="active" ng-show="adminUser"><a ui-sref="person" ng-click="mainNavChanged()"><i class="fa fa-users"></i> User Lookup</a></li>
                    <li ui-sref-active="active"><a ui-sref="status" ng-click="mainNavChanged()"><i class="fa fa-spinner"></i> Data Status</a></li>
                    <li ui-sref-active="active" ng-show="adminUser"><a ui-sref="refresh" ng-click="mainNavChanged()"><i class="fa fa-refresh"></i> Refresh Endpoints</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a target="_blank" href="https://www.adelaide.edu.au/adelaidex/"><i class="fa fa-home"></i> AdelaideX</a></li>
                </ul>
            </nav>

            <div ng-view=""></div>
            <div ui-view=""></div>



            <footer id="footer" role="contentinfo" class="clearfix">
                <div id="footer-tagline">
                    <a title="seek LIGHT" href="https://www.adelaide.edu.au/seek-light/">
                        <img alt="seek LIGHT" src="https://www.adelaide.edu.au/global/v/response1/img/ui-tagline-seek-light.png">
                    </a>
                </div>

                <div class="region region-footer">
                    <div id="block-block-2" class="block block-block contextual-links-region">


                        <div class="content">
                            <div class="footer-column"> </div>

                            <div class="footer-column" id="footer-home-column">
                                <h4 class="footer-title"><a href="//www.adelaide.edu.au/">Home</a></h4>
                                <ul>
                                    <li><a href="https://www.adelaide.edu.au/legals/copyright.html">Copyright</a> <span class="hidden-phone hidden-tablet">&amp; <a href="//www.adelaide.edu.au/legals/disclaim.html">Disclaimer</a></span></li>
                                    <li><a title="Privacy Statement" href="https://www.adelaide.edu.au/legals/privacy.html">Privacy Statement</a></li>
                                    <li><a title="Website Feedback" href="https://www.adelaide.edu.au/front/feedback.html">Feedback</a></li>
                                </ul>
                            </div>

                            <div class="footer-column"> </div>

                            <div class="footer-column" id="footer-adx-column">
                                <h4 class="footer-title">AdelaideX</h4>
                                <ul>
                                    <li><a title="About adX" href="https://www.adelaide.edu.au/adelaidex">About AdelaideX</a></li>
                                    <li><a title="edX" href="https://www.edx.org/school/adelaidex">AdelaideX Courses - edX</a></li>
                                    <li><a title="Contact Us" href="#">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="footer-column"> </div>
                            <div class="footer-column" id="footer-address-column"> 

                                <a title="The University of Adelaide" href="//www.adelaide.edu.au/"><img class="logo" alt="The University of Adelaide" src="https://global.adelaide.edu.au/v/redesign1/images/bg-footer-logo.png"></a>
                                <p class="address"><a href="https://www.adelaide.edu.au/" class="fn org summary">The University of Adelaide</a><br>
                                    <span class="adr">
                                        <span class="locality">Adelaide</span>, <span class="region">South Australia</span><br>
                                        <span class="postal-code">5005</span> Australia
                                    </span><br><br>
                                    CRICOS Provider Number 00123M
                                    <span id="footer-meta-extra" title="1.2">&nbsp;</span>
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <!--    <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
                ga('create', 'UA-51272350-1', 'uq.edu.au');
                ga('send', 'pageview');
            </script>-->

        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/d3/d3.js"></script>
        <script src="bower_components/datamaps/dist/datamaps.all.js"></script>
        <script src="bower_components/angular-cookie/angular-cookie.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->

        <script>
                                        var charts = angular.module('charts', []);
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/controllers/reports.js"></script>
        <script src="scripts/controllers/explorer.js"></script>
        <script src="scripts/controllers/status.js"></script>
        <script src="scripts/controllers/person.js"></script>
        <script src="scripts/controllers/refresh.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/feedback.js"></script>
        <script src="scripts/services/authevents.js"></script>
        <script src="scripts/services/course.js"></script>
        <script src="scripts/services/token.js"></script>
        <script src="scripts/services/country.js"></script>
        <!-- endbuild -->

        <script src="bower_components/d3-tip/index.js"></script>
        <script src="bower_components/topojson/topojson.js"></script>
        <script src="bower_components/datamaps/dist/datamaps.world.min.js"></script>
        <script src="bower_components/angularjs-modal-service/src/createDialog.js"></script>
        <script src="bower_components/angular-base64/angular-base64.js"></script>

        <script src="scripts/lib/spin.min.js"></script>

        <script src="visualisations/enrolmentmetadata/controller.js"></script>
        <script src="visualisations/enrolment/controller.js"></script>
        <script src="visualisations/enrolmentmap/controller.js"></script>
        <script src="visualisations/discussion_forum_data/controller.js"></script>
        <script src="visualisations/discussion_forum_map/controller.js"></script>
        <script src="visualisations/coursestructure/controller.js"></script>
        <script src="visualisations/grades/controller.js"></script>
        <script src="visualisations/activeusers/controller.js"></script>
        <script src="visualisations/studentactivity/controller.js"></script>
        <script src="visualisations/course_events/controller.js"></script>

        <script src="reports/enrolments/controller.js"></script>
        <script src="reports/activity/controller.js"></script>

        <script src="scripts/services/request.js"></script>

        <script src="scripts/directives/pie/pie.js"></script>
        <script src="scripts/directives/gpie/gpie.js"></script>
        <script src="scripts/directives/keyvalue/keyvalue.js"></script>
        <script src="scripts/directives/bar/bar.js"></script>
        <script src="scripts/directives/stackedbar/stackedbar.js"></script>
        <script src="scripts/directives/stackedarea/stackedarea.js"></script>
        <script src="scripts/directives/stackedarea2/stackedarea2.js"></script>
        <script src="scripts/directives/line/line.js"></script>
        <script src="scripts/directives/world/world.js"></script>
    </body>
</html>
